<% content_for :community_label, "w/#{@community.name}" %>
<div class="bg-purple-600 text-white">
  <div class="container lg:p-10 p-4">
    <h1 class="lg:text-3xl text-lg font-bold">w/<%= @community.name %></h1>
  </div>
</div>

<% content_for :primary_content do %>
  <% @community.submissions.each do |submission| %>
    <%= render "submissions/submission", submission: submission %>

  <% end %>
<% end %>

<% content_for :secondary_content do %>
  <%= render "sidebar", community: @community %>
<% end %>

<%= render "basic_layout" %>



